<div class="page">

  <h2 class="page-title"> Expenses</h2>
  <div *ngIf="loading" class="state">Loading expenses...</div>

  <div *ngIf="!loading && expenses.length === 0" class="state"> No expenses found </div>

  <table *ngIf="!loading && expenses.length > 0">
    <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let e of expenses">
      <td>{{e.title}}</td>
      <td>{{e.category}}</td>
      <td>{{e.amount}}</td>
      <td>{{e.date | date:'mediumDate'}}</td>
    </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="prevPage()" [disabled]="page===0">
      Previous
    </button>

    <span> Page {{page + 1}} of {{totalPages}}</span>

    <button (click)="nextPage()" [disabled]="page===totalPages-1">
      Next
    </button>
  </div>
</div>
